<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68821595235-9vivlp3f1dqdjbe6beaot43baopj6l9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68821595235-9vivlp3f1dqdjbe6beaot43baopj6l9q</string>
	<key>API_KEY</key>
	<string>AIzaSyDf32YRyLAVb7gbBDoqfvGzLNR8d-V317c</string>
	<key>GCM_SENDER_ID</key>
	<string>68821595235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.outqNewApp</string>
	<key>PROJECT_ID</key>
	<string>outq-2b5af</string>
	<key>STORAGE_BUCKET</key>
	<string>outq-2b5af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68821595235:ios:300c6f38ad37bd46bb7456</string>
</dict>
</plist>